<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        
    <supportedRuntime version="v2.0.50727" sku="Client"/></startup>
    <system.diagnostics>
      <sources>
        <!-- This section defines the logging configuration for My.Application.Log -->
        <source name="DefaultSource" switchName="DefaultSwitch">
          <listeners>
            <!-- Uncomment to connect the application file log. -->
            <add name="FileLog"/>
            <!-- Uncomment to connect the event log. -->
            <add name="EventLog"/>
            <!-- Uncomment to connect the event log. -->
            <add name="Delimited"/>
            <!-- Uncomment to connect the XML log. -->
            <add name="XmlWriter"/>
            <!-- Uncomment to connect the console log. -->
            <!-- <add name="Console" /> -->
          </listeners>
        </source>
      </sources>
      <switches>
        <add name="DefaultSwitch" value="Information"/>
      </switches>
      <sharedListeners>
        <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, 
                         Microsoft.VisualBasic, Version=8.0.0.0, 
                         Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
        <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
        <add name="EventLog" type="System.Diagnostics.EventLogTraceListener,   
                         System, Version=2.0.0.0,   
                         Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="PictureBuilder"/>
        <add name="Delimited" type="System.Diagnostics.DelimitedListTraceListener,   
                         System, Version=2.0.0.0,   
                         Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="C:\temp\PictureBuilderDelimitedFile.txt" traceOutputOptions="DateTime"/>
        <add name="XmlWriter" type="System.Diagnostics.XmlWriterTraceListener,   
                         System, Version=2.0.0.0,   
                         Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="C:\temp\PictureBuilderlog.xml"/>
        <add name="Console" type="System.Diagnostics.ConsoleTraceListener,   
                         System, Version=2.0.0.0,   
                         Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="true"/>
      </sharedListeners>
    </system.diagnostics>
</configuration>
